@import "../../styles";

#waste-list {

  mat-card{
    background-color: white;
    color:$main-green-darker;
    padding-top:0!important;
  }
  li{
    padding: 5px 5px 5px 10px;
    border-radius: 15px;
  }

  button {
    color:white;
    background-color: $main-blue;
  }
}

#add_circle_button {
  float:right;
}

mat-card#list.mat-card{
  padding-top:0!important;
  mat-card-title{
    padding-top:15px!important;
  }
  mat-expansion-panel{
    margin-bottom:10px;
  }
}

#deleteButton {
  float:right;
}

#mobileListHeader {
  padding-bottom: 30px;
}

.remove{
  float: right;
  color: $main-blue;
  position: relative;
  padding-right:7px;
  bottom:2px;
}

.articleIsMobilefalse {
  left: 0;
  min-width: 342px;
  width: 25%;
  position: fixed;
  top: 40%;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.articleIsMobiletrue {
  left: 10% !important;
  width: 80%;
  position: fixed;
  bottom: -145px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  mat-form-field{
    padding-top: 15px;
    width:100%!important;
  }
  button{
    width: 100%;
    font-size: 150%;
  }
  .mobileButton{
    width: 100%;
    background-color: white !important;
    color: $main-blue !important;
    border: none !important;

    padding: 15px;
  }
  #deleteButton{
    visibility: hidden;
  }
  #mobileSend {
    margin-top: 8px;
  }
}

#inputfieldlist {
  width: 70%;
}

@media only screen and (max-width: 500px) {
    #add-circle-buton {
      color:red;
    }
}